line-length = 120
target-version = "py311"
select = [
    "E",    # pycodestyle
    "F",    # pyflakes
    "I",    # isort
    "B",    # flake8-bugbear
    "C4",   # flake8-comprehensions
    "UP",   # pyupgrade
    "N",    # pep8-naming
    "W",    # pycodestyle warnings
    "RUF",  # ruff-specific rules
]
